{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}

  <h2 style='margin: 1em 0 1em 0'>Welcome to GuestBook.symfony. Give your feedback!</h2>

  <div class="row">

    {% for conference in conferences %}

    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          Conference
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ conference }}</h5>
          <p class="card-text">Comments: {{ conference.comments.count }}</p>
          <a href="{{ path('conference', { slug: conference.slug }) }}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    {% endfor %}
  
  </div>

{% endblock %}